 
/* -------------------- Update tab Right to left Animation css Start -------------- */

/* ------------ Custom class for sliding from right to left ------------  */
.custom-slide-from-right .modal-dialog {
  -webkit-animation: slideFromRight 0.3s;
  -moz-animation: slideFromRight 0.3s;
  -ms-animation: slideFromRight 0.3s;
  -o-animation: slideFromRight 0.3s;
  animation: slideFromRight 0.3s;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes slideFromRight {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(0);
  }
}

@-o-keyframes slideFromRight {
  0% {
    -o-transform: translateX(100%);
  }
  100% {
    -o-transform: translateX(0);
  }
}

@-ms-keyframes slideFromRight {
  0% {
    -ms-transform: translateX(100%);
  }
  100% {
    -ms-transform: translateX(0);
  }
}
/* ----- Custom class for sliding from left to Right End -----  */

/* ----- Custom class for sliding from Right to Left Start -----  */

.custom-slide-from-right:not(.show) .modal-dialog {
  -webkit-animation: slideToRight 0.3s;
  -moz-animation: slideToRight 0.3s;
  -ms-animation: slideToRight 0.3s;
  -o-animation: slideToRight 0.3s;
  animation: slideToRight 0.3s;
}

@keyframes slideToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes slideToRight {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}

@-moz-keyframes slideToRight {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -moz-transform: translateX(100%);
  }
}

@-o-keyframes slideToRight {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(100%);
  }
}

@-ms-keyframes slideToRight {
  0% {
    -ms-transform: translateX(0);
  }
  100% {
    -ms-transform: translateX(100%);
  }
}
/* ----- Custom class for sliding from Left to right End -----  */

/* -------------------- Update tab Right to left Animation css Start -------------- */


/* ------------------------ Modal Css Start -------------- */

.right-model {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.right-model.show {
  display: block;
}

.right-model-dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease;
  width: 34rem;
}

@media screen and (max-width: 576px) {
  .modal-dialog {
    position: unset;
  }
  .modal {
    position: block;
  }

  .sidebar-logo{
    padding: 0;
  }
}

.modal-dialog {
  margin: 0;
}

.modal-content {
  border-radius: 20px 0 0 20px;
}

.input-group-addon {
  position: absolute;
  top: 0;
  right: 4px;
  bottom: 0;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.dates {
  color: var(--menu-heading-black, #000);
  font-family: Poppins;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 3px;
}

.dates label {
  margin: 0 0 3px 5px;
}

.custom {
  border-radius: 10px !important;
}

/* Style the SVG icon */
.input-group-addon svg {
  fill: #03af9f;
}

.model-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10px;
}

.medel-main-heading {
  color: #123d42;
  font-family: Lato;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* 
.cancel img {
  height: 25px;
  width: 25px;
  cursor: pointer;
} */

/* For all modern browsers */
.input-group input::placeholder,
.input input::placeholder {
  font-size: 14px;
}

/* For Firefox */
.input-group input::-moz-placeholder,
.input input::-moz-placeholder {
  font-size: 14px;
}

/* For Internet Explorer */
.input-group input:-ms-input-placeholder,
.input input:-ms-input-placeholder {
  font-size: 14px;
}

/* For Safari and older versions of Chrome */
.input-group input::-webkit-input-placeholder,
.input input::-webkit-input-placeholder {
  font-size: 14px;
}

.repeat-checkbox-labels {
  color: #494949;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-left: 10px;
}




/* --------------- Model Css End ------------------- */

.save-btn {
  padding: 1rem 0;
  border-radius: 10px;
  color: var(--dashboard-colors-dashboard-white, #fff);
  text-align: center;
  font-family: Lato;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ui-datepicker {
  z-index: 9999 !important;
}

.pad {
  padding: 10px 20px;
}

.goal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 1rem;
}

.heading h1 {
  color: #0b393e;
  font-family: Lato;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}

.horizontal-tabs {
  list-style: none;
  padding: 0;
  display: flex;
  border-bottom: 2px solid #ccc;
}

.tab-item {
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.pad {
  padding: 10px 20px;
}

.tab-item a {
  color: var(--2, #0b393e);
  text-align: center;
  font-family: Poppins;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.tab-item.active {
  color: #000;
}

/* Active tab indicator */
.tab-item.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; /* Adjust this value to change the height of the active tab indicator */
  background-color: var(--primary);
  position: absolute;
  bottom: -1px; /* Adjust this value to control the distance of the indicator line from the tab text */
  left: 0;
}

.input-element {
  border-radius: 14px;
  border: 1px solid var(--dashboard-colors-dashboard-dark-grey, #979797);
  background-color: #fff !important;
  height: 3rem !important;
  border-radius: 10px !important;
  color: var(--2, #0b393e);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.label {
  color: var(--menu-heading-black, #000);
  font-family: Poppins;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-check {
  padding: 0;
}

.form-check a {
  color: #0b393e;
  text-align: center;
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.update-btn {
  border-radius: 6px;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  color: var(--dashboard-colors-dashboard-white, #fff);
  text-align: center;
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
