<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/images/CA-logo 1.png" type="image/x-icon">

    <title>User Portal</title>
    <!-- Link Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"></head>
    <link rel="stylesheet" href="./assets/css/admin-portal-profile.css">
    <link rel="stylesheet" href="./assets/css/global.css">
  <body>
    <div class="custom-flex h-full">
        <div class="sidebar">
            <div class="sidebar-logo">
              <img src="./assets/images/Logo.png" alt="No Image" />
              <!-- Use the 'data-target' attribute to specify the ID of the element to collapse -->
              <button id="menu-toggle" class="btn btn-primary d-md-none" data-toggle="collapse" data-target="#sidebarMenu">
                <img class="toggle-img" src="./assets/images/toggle.png" alt="No Toggle">
              </button>
            </div>
            <!-- Add the 'collapse' class and an ID to the ul element -->
            <ul class="nav flex-column d-md-block collapse" id="sidebarMenu">
              <li class="nav-item">
                <a class="nav-link" href="./goal.html">
                  <img src="./assets/images/goal.png" alt="No Image" />
                  <span>Goal</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./admin-portal-profile.html">
                  <img src="./assets/images/profile.png" class="profile" alt="No Image" />
                  <span>Profile</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./report.html">
                  <img src="./assets/images/reports.png" alt="No Image" />
                  <span>Reports</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./active-goal.html">
                  <img src="./assets/images/companyStats.png" alt="No Image" />
                  <span>Active Goals</span>
                </a>
              </li>
            </ul>
            <div class="logout">
              <div class="nav-item">
                <a class="nav-link" href="./login.html">
                  <img src="./assets/images/logout.png" alt="No Image" />
                  <span>Logout</span>
                </a>
              </div>
            </div>
        </div>

        <div class="modal fade" id="showModalButton" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
               <form>
                            <div class="form-group">
                              <label class="label" for="firstName">First Name</label>
                              <input type="text" class="form-control input-element" id="firstName" placeholder="First Name">
                            </div>
                             <div class="form-group">
                                <label class="label" for="lastName">Last Name</label>
                                <input type="text" class="form-control input-element" id="lastName" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <label class="label" for="email">Email</label>
                                <input type="text" class="form-control input-element" id="email" placeholder="example@gmail.com">
                            </div>
                            <div class="form-group form-check">
                                <a href="#">Change Password</a>
                            </div>
                            <div>
                              <button type="button" class="btn btn-primary create-goal-btn" data-toggle="modal"
                              data-target="#showModalButton">
                              Update
                            </button>
                            </div>
                          </form>
            </div>
          </div>
        </div>

        
        
        <div class="main-screen">
            <div class="main-screen-content mt-4">
                <div class="heading">
                    <h1>Users</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <ul class="horizontal-tabs">
                        <li class="tab-item active">My Details</li>
                        <li class="tab-item">Users</li>
                    </ul>
                    </div>
                </div>  

                <div class="card form">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                              <label class="label" for="firstName">First Name</label>
                              <input type="text" class="form-control input-element" id="firstName" placeholder="First Name">
                            </div>
                             <div class="form-group">
                                <label class="label" for="lastName">Last Name</label>
                                <input type="text" class="form-control input-element" id="lastName" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <label class="label" for="email">Email</label>
                                <input type="text" class="form-control input-element" id="email" placeholder="example@gmail.com">
                            </div>
                            <div class="form-group form-check">
                                <a href="#">Change Password</a>
                            </div>
                            <div>
                              <button type="button" class="btn btn-primary create-goal-btn" data-toggle="modal"
                              data-target="#showModalButton">
                              Update
                            </button>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
     
  

    <!-- Link Bootstrap JS (Optional if you require Bootstrap JS functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
  </body>
</html>
